PORT=3200
JWT_SECRET=abcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcdabcd
ABLY_API_KEY=your-ably-api-key
ORACLE_USER=CA_ERP_HCC
ORACLE_PASSWORD=your-password
ORACLE_CONNECT_STRING=192.168.114.6:1521/CADB
CORS_ORIGIN=http://localhost:4830,http://localhost:3000
